:root {
	--body-background-color: #F2EAE2;
	--dark-green: #1A4032;
	--light-green: #3D8168;
	--ff-body: 'Montserrat', sans-serif;
	--ff-headlines: 'Fraunces', serif;
	--gray100: #fff;
	--body-color: #6C7289;
	--headline-color: #1C232B;	
}

body {
	background-color: var(--body-background-color);
	color: var(--body-color);
	font-family: var(--ff-body);
    font-size: 16px;
	font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 5em 1em;
}
.container {
	max-width: 40rem;
}

.attribution {
	color: #636a82;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.rounded-top {
	border-top-left-radius: 0.5rem !important;
	border-top-right-radius: 0.5rem !important;
}
.rounded-bottom {
	border-bottom-right-radius: .5rem !important;
	border-bottom-left-radius: .5rem !important;
}

img {
	border-radius: .5em .5em 0 0;
}
.border-radius {
	border-radius: 0 0 .5em .5em;
}
@media (min-width: 660px) {
	img {
	border-radius: .5em 0 0 .5em;
	}
	.border-radius {
	border-radius: 0 .5em .5em .0;
	}
}
.column-two {
	align-items: center;
	display: grid;
	background-color: white;
}
.product-type {
	font-family: var(--ff-body);
	font-size: .75rem;
	text-transform: uppercase;
	letter-spacing: 5px;
}
.product-headline {
	color: var(--headline-color);
	font-family: var(--ff-headlines);		
	font-size: 2rem;
	font-weight: 700;
	line-height: 2rem;
	max-width: 15ch;
}
@media (min-width: 660px) {
	.product-headline {
	max-width: 10ch;
	}
}
.product-description {
	font-size: .875rem;
	line-height: 23px;
	max-width: 26ch;
}

.price {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.sale-price {
	color: var(--light-green);
	font-family: var(--ff-headlines);
	font-size: 2rem;
}
.retail-price {
	color: var(--body-color);
	font-family: var(--ff-body);
	font-size: .812rem;
	margin-left: 19px;
}

.btn-success {
	color: #fff;
	background-color: #3D8168;
	border-color: #3D8168;
}
.btn-success:hover {
	color: #fff;
	background-color: #1A4032;
	border-color: #1A4032;
}